<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>BOOKS:</h1>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Genre</th>
        <th>Writer</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<form id="addBook">
    <h1>Add new book:</h1>

    <div class="row">
        <label for="id">ID:</label>
        <input id="id" name="id" type="long" value="1"/>
    </div>

    <div class="row">
        <label for="title">Title:</label>
        <input id="title" name ="title" type="text" value="title"/>
    </div>
    <div class="row">
        <label for="description">Description:</label>
        <input id="description" name ="description" type="text" value="description"/>
    </div>
    <div class="row">
        <label for="genre">Genre:</label>
        <input id="genre" name ="genre" type="text" value="genre"/>
    </div>
    <div class="row">
        <label for="writer">Writer:</label>
        <input id="writer" name ="writer" type="text" value="writer"/>
    </div>
    <div class="row">
        <button id="save" type="submit">Save</button>
    </div>
</form>
<script>
    $(function () {
        $.get('/api/books').done(function (books) {
            books.forEach(function (book) {
                $('tbody').append(`
                 <tr>
                     <td>${book.id}</td>
                     <td>${book.title}</td>
                     <td>${book.description}</td>
                     <td>${book.genre}</td>
                     <td>${book.writer}</td>
                     <td>
                         <a th:href="@{/book/edit(id=${book.id})}" href="editBook.html">Edit</a>
                         <a th:href="@{/book/delete(id=${book.id})}" href="editBook.html">Delete</a>
                     </td>
                 </tr>
             `)
            });
        })
    });
    $( document ).ready(function() {

        // SUBMIT FORM
        $("#addBook").submit(function (event) {
            // Prevent the form from submitting via the browser.
            event.preventDefault();
            doAjaxPost();
        });

        function doAjaxPost() {
            var formData = {
                "id": $("#id").val(),
                "title": $("#title").val(),
                "description": $("#description").val(),
                "genre": $("#genre").val(),
                "writer": $("#writer").val()
            }

            $.ajax({
                type: "POST",
                url: "/api/books/add",
                data: JSON.stringify(formData),
                contentType:formData,
                success: function (response) {
                    console.log(" Successfull");
                },
                error: function (e) {
                    console.log(" Error:" + e);
                }
            });
        }
    })
</script>
</body>
</html>
